.top{
    font-weight: bold;
    background-color: rgb(124, 68, 79);
    border-radius: 10px;

    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Positions children on opposite ends */
    align-items: center; /* Vertically aligns items */
}
.top .titled{
    font-size: 40px;
    padding: 10px;
    color: #F2C4A2
}

.login a{
    padding: 10px;
    /*background-color: red;*/
    color:#ddd;
}
.login:visited a{
    color: rgb(255, 0, 0);
}
.login:hover a{
    color: hotpink;
  }
.login:active a{
    color: rgb(229, 255, 0);
  }


.logo
{
    width: 40px;
}

.header{
    text-align: center;
    font-size: 23px;
}

.header a {
    padding: 10px;
    /*background-color: red;*/
    color:#ddd;
}
.header a {
    color: black;
}
.header a {
    color: hotpink;
  }
.header a {
    color: rgb(182, 182, 249);
  }