.top{
    font-weight: bold;
    background-color: rgb(124, 68, 79);
    border-radius: 10px;

    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Positions children on opposite ends */
    align-items: center; /* Vertically aligns items */
}
.top .titled{
    font-size: 40px;
    padding: 10px;
    color: #F2C4A2
}

.buttonHeader{
    text-decoration: none;
    --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#66000000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #65000000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
    font-size: 30px;
  margin:10%;
  color:#ddd;
}

.buttonHeader:hover,.buttonHeader:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.buttonHeader:active {
    background: var(--color);
    color: #fff;
}

.header a {
    padding: 10px;
    /*background-color: red;*/
    color:#ddd;
}
.header a {
    color: black;
}
.header a {
    color: rgb(255, 255, 255);
  }

.header{
    padding-top: 1%;
    padding-bottom:1%;
}
.logo
{
    width: 40px;
}

.header{
    text-align: center;
    font-size: 23px;
}